/* fornt size */
body {

    font-family: 'Open Sans', sans-serif;

}

/* nav related  */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}

.btn-primary {
    border-radius: 5px;
    margin: 0;
    background: #FD6E0A;
    color: var(--White-Color, #FFF);
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    height: 64px;
    width: 150px;

}

nav,
ul {
    display: flex;
    align-items: center;
}

.r-colour {
    color: #FD6E0A;

    font-size: 45px;
    font-weight: 800;
}

nav,
li {
    list-style: none;
    margin-right: 50px;

}

nav,
a {
    text-decoration: none;

}

/* header related styles */
.header {
    background-color: #FFF8F3;
    padding: 30px;

}

/* bannner */
.banner {
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;

}

.banner-profile {
    width: 500px;

}