/* fornt size */
body {

    font-family: 'Open Sans', sans-serif;

}

/* nav related  */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}

.btn-primary {
    border-radius: 5px;
    margin: 0;
    background: #FD6E0A;
    color: var(--White-Color, #FFF);
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    height: 64px;
    width: 150px;

}

nav,
ul {
    display: flex;
    align-items: center;
}

.r-colour {
    color: #FD6E0A;

    font-size: 45px;
    font-weight: 800;
}

nav,
li {
    list-style: none;
    margin-right: 50px;

}

nav,
a {
    text-decoration: none;

}

/* header related styles */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;



}

/* bannner */
.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.banner-profile {
    width: 500px;

}

.banner-h3 {
    color: var(--Dark-02, #474747);
    font-size: 45px;
    font-weight: 600;
}

.banner-h1 {
    color: var(--Dark-01, #181818);
    font-size: 85px;
    font-weight: 700;
}

.banner-p {
    color: var(--Dark-03, #757575);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

/* main section styles  */
main {
    max-width: 1140px;
    margin: 0 auto;
}


/* about section styles */

.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px;

}

.section-title {
    color: var(--Dark-01, #181818);
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

.section-discription {
    color: var(--Dark-03, #757575);
    text-align: center;

    font-size: 18px;

    font-weight: 400;
    line-height: 30px;
    /* 166.667% */

}

.about-information-container {
    display: flex;
    justify-content: space-around;

}

#what-i-do-discription {
    padding: 30px 150px;
}

/* react node js picture */
.skill {
    padding: 30x;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skills-container {
    display: flex;
    gap: 10px;


}

/* resume-section */
.resume-colum-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;

}